@media(min-width: 1091px) and (max-width: 2000px){
	*{
		margin: 0px;
		padding: 0px;
	}
	header{
		width: 100%;
		height: 60px;
	}
	header .text1{
		font-family: sans-serif, "helvetica Neue", "Lucida Grande", Arial;
		font-stretch: extra-expanded;
		word-spacing: 30px;
		word-wrap: break-word;
		text-indent: 50px;
		font-size: 35px;
		background: white;
		color: white;
		text-shadow:0 0 5px #0c0002, 0 0 9px #310505;
		position: absolute;
		padding-top: 6px;
	}

	nav .btn .fa-bars{
		visibility: hidden;
		padding-left: 30px;
		padding-top: 66px;
		top:0px;
		position: absolute;
		color: white;
	}

	
	nav .btn .menu{
		visibility: hidden;
		padding-left: 400px;
		padding-top: 66px;
		top:0px;
		font-size: 25px;
		position: absolute;
	}

	nav .btn .menu a{
		color: white;
		text-decoration-line: none;
	}
	nav{
		width: auto;
		height: 45px;
		background: #000000ab;
		border: 1px solid black;
		top: 0;
		position: sticky;
	}
	nav ul{
		text-align: center;
	}
	nav ul li{
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 5px;
		padding-bottom: 0px;
		margin-bottom: 0px;
		padding-top: 5px;
		border: 3px solid #545454;
	}
	nav ul li:hover{
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		margin-top: 5px;
		border-radius: 50px;
		padding-bottom: 0px;
		margin-bottom: 0px;
		border: 3px solid white;
		background:  #545454;
	}

	nav ul li a{
		font-family: monospace;
		color: white;
		text-decoration: none;
		font-size: 23px;
		text-shadow:0 0 3px #0c0002, 0 0 6px #310505;
	}
	nav ul li .active{
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 9px;
		border-radius: 30px;
		border-color: black;
		background: white;
	}
	.maincss{
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: 212px auto 200px;
	}
	.maindiv1{
		z-index: -1;
		height: 600px;
		display: show;
		position: sticky;
		top: 50px;
		overflow: auto;
		/*background: #00000030;*/
	}
	.maindivbtn1{
		position: sticky;
		margin: 0px;
		padding: 0px;
		text-align: center;
		justify-content: center;
		visibility: show;
	}

	.maindivbtn1 button{
		font-family: cursive; /*//fantasy/monospace/inherit/ */
		color: white;
		text-decoration: none;
		word-spacing: normal;
		font-size: 18px;
		text-shadow:0 0 1px #1d4dff, 0 0 3px #3c20d6;
		text-align: center;
		border: none;
		width: 200px;
		height: 30px;
	}
		.maindivbtn1 button:hover{
		font-family: cursive; /*//fantasy/monospace/inherit/ */
		color: white;
		text-decoration: none;
		word-spacing: normal;
		font-size: 18px;
		text-shadow:0 0 1px #1d4dff, 0 0 3px #3c20d6;
		text-align: center;
		border: none;
		border: 3px solid #32e17c;
		width: 200px;
		border-radius: 30px;
		height: 30px;
	}
	.maindiv2{
		background: #17a8d408;
	}

	.maindiv3{}
	

		.search-box{
			position: absolute;
			top: 50%;
			left: 10%;
			transform: translate(-50%, -50%);
			background: #2f3640;
			height: 27px;
			border-radius: 40px;
			padding: 10px;
		}
		.search-box:hover > .search-txt{
			width: 140px;
			padding: 0 6px;
		}
		.search-btn:hover > .search-txt{
			background: white;
		}
		.search-btn{
			color: #e84118;
			float: right;
			width: 40px;
			height: 27px;
			border-radius: 50%;
			background: #2f3640;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.search-txt{
			border: none;
			background: none;
			outline: none;
			float: left;
			padding: 0;
			color: white;
			font-size: 16px;
			transition: 0.4s;
			line-height: 27px;
			width: 0px;
		}
	.container1{
		padding: 10px;
	}
	.footerClass{
		background-image: linear-gradient(to left,#F650FE, #607BF5);
		padding-bottom: 25px;
	}.footerClass h1{
		padding: 25px;
		font-family: sans-serif;
		text-shadow: 2px 2px 2px blue;
		color: white;
	}
	.flex_css{
		width: 100%; height: 140px;
		background-image: linear-gradient(to left,#F650FE, #607BF5);
		display: flex;
		flex-direction: row;
		justify-content: space-around;

	}.flex_css h2{
		text-shadow: 2px 2px 2px green;
		color: white;
	}.flex_css a{
		color: white;
		text-decoration-line: none;
		font-family: cursive;
	}
	}

/*//////////////////////////////////////////800px//////////////////1089px///////////////*/
@media(min-width: 800px) and (max-width: 1090px){
	*{
		margin: 0px;
		padding: 0px;
	}
	header{
		width: 100%;
		height: 60px;
	}
	header .text1{
		font-family: sans-serif, "helvetica Neue", "Lucida Grande", Arial;
		font-stretch: extra-expanded;
		word-spacing: 30px;
		word-wrap: break-word;
		text-indent: 50px;
		font-size: 35px;
		background: white;
		color: white;
		text-shadow:0 0 5px #0c0002, 0 0 9px #310505;
		position: absolute;
		padding-top: 6px;
	}
	nav .btn .fa-bars{
		visibility: show;
		padding-left: 30px;
		padding-top: 66px;
		top:0px;
		position: absolute;
		color: white;
		text-shadow:0 0 3px #0c0002, 0 0 6px #310505;
	}

	nav .btn .menu{
		height: 30px;
		border: 3px solid white;
		border-radius: 20px;
		visibility: show;
		padding-right: 20px;
		margin-left: 20px;
		padding-left: 20px;
		margin-right: 20px;
		float: right;
		padding-top: 3px;
		margin-top: 3px;
		font-size: 25px;

		padding-bottom: 1px;
		margin-bottom: 1px
		transition: color 2s;
	}nav .btn .menu:hover{
		border-radius: 20px;
		height: 30px;
		text-align: center;
		border: 3px solid black;
		visibility: show;
		padding-right: 20px;
		margin-right: 20px;
		float: right;
		padding-top: 3px;
		margin-top: 3px;
		padding-bottom: 1px;
		margin-bottom: 1px
		font-size: 25px;
		transition: border 1s;
		background: white;
		text-shadow:0 0 3px #0c0002, 0 0 6px #310505;

	}
	nav .btn .menu a{
		color: white;
		text-decoration-line: none;
	}
	nav{
		width: auto;
		height: 45px;
		background: #000000ab;
		border: 1px solid black;
	}
	nav ul{
		width: 250px;
		margin-top: 46px;
		padding-top: 46px;
		margin-right: 0px;
		padding-right: 0px;
		position: absolute;
		height: 300px;
		right: 0px;
		background: #545454bf;
		display: none;
	}
	nav ul li{
		text-align: center;
		display: block;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 0px;
		margin-bottom: 6px;
		padding-top: 6px;
		margin-top: 6px;
	}
	nav ul li a{
		font-family: monospace;
		color: white;
		text-decoration: none;
		font-size: 23px;
		text-shadow:0 0 3px #0c0002, 0 0 6px #310505;
	}
	nav ul li a:hover{
		color:gray;
	}

		.search-box{
			position: absolute;
			top: 12%;
			left: 20%;
			transform: translate(-50%, -50%);
			background: #2f3640;
			height: 27px;
			border-radius: 40px;
			padding: 10px;
		}
		.search-box:hover > .search-txt{
			width: 140px;
			padding: 0 6px;
		}
		.search-btn:hover > .search-txt{
			background: white;
		}
		.search-btn{
			color: #e84118;
			float: right;
			width: 40px;
			height: 27px;
			border-radius: 50%;
			background: #2f3640;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.search-txt{
			border: none;
			background: none;
			outline: none;
			float: left;
			padding: 0;
			color: white;
			font-size: 16px;
			transition: 0.4s;
			line-height: 27px;
			width: 0px;
		}
/*
	.maincss{
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 212px auto 200px;
	}*/
	.maindiv1{
		height: 500px;
		width: 212px;
		position: absolute;
		top: 107px;
		display: none;
		box-shadow: 0px 2px  0px pink;
		border-radius: 20px;
		/*background: #00000030;*/
	}
	.maindivbtn1{
		margin: 0px;
		padding: 0px;
		text-align: center;
		justify-content: center;
		background: none;
	}

	.maindivbtn1 button{
		font-family: cursive; /*//fantasy/monospace/inherit/ */
		color: white;
		text-decoration: none;
		word-spacing: normal;
		font-size: 18px;
		text-shadow:0 0 1px #1d4dff, 0 0 3px #3c20d6;
		text-align: center;
		border: none;
		width: 200px;
		height: 30px;
	}
		.maindivbtn1 button:hover{
		font-family: cursive; /*//fantasy/monospace/inherit/ */
		color: white;
		text-decoration: none;
		word-spacing: normal;
		font-size: 18px;
		text-shadow:0 0 1px #1d4dff, 0 0 3px #3c20d6;
		text-align: center;
		border: none;
		border: 3px solid pink;
		width: 200px;
		border-radius: 30px;
		height: 30px;
	}
	.maindiv2{
		background: #17a8d408;
	}

	.maindiv3{

	}
	
	.container1{
		padding: 10px;
	}
	.footerClass{
		background-image: linear-gradient(to left,#F650FE, #607BF5);
		padding-bottom: 25px;
	}.footerClass h1{
		padding: 25px;
		color: white;
		text-shadow: 2px 2px 2px blue;
	}
	.flex_css{
		width: 100%; height: 140px;
		background-image: linear-gradient(to left,#F650FE, #607BF5);
		display: flex;
		flex-direction: row;
		justify-content: space-around;

	}.flex_css h2{
		text-shadow: 2px 2px 2px green;
		color: white;
	}.flex_css a{
		color: white;
		text-decoration-line: none;
		font-family: cursive;
	}

}

/*/////////////////////////////////////650px/////800px/////////////////////////////////*/
@media(min-width: 650px) and (max-width: 800px){
	*{
		margin: 0px;
		padding: 0px;
	}
	header{
		width: 100%;
		height: 60px;
	}
	header .text1{
		font-family: sans-serif, "helvetica Neue", "Lucida Grande", Arial;
		font-stretch: extra-expanded;
		word-spacing: 30px;
		word-wrap: break-word;
		text-indent: 50px;
		font-size: 35px;
		background: white;
		color: white;
		text-shadow:0 0 5px #0c0002, 0 0 9px #310505;
		position: absolute;
		padding-top: 6px;
	}
	
	nav .btn .fa-bars{
		visibility: show;
		padding-left: 30px;
		padding-top: 66px;
		top:0px;
		position: absolute;
		color: white;
		text-shadow:0 0 3px #0c0002, 0 0 6px #310505;
		font-size: 30px;
		transition: font-size 1s;
	}	nav .btn .fa-bars:hover{
		visibility: show;
		padding-left: 30px;
		padding-top: 66px;
		top:0px;
		position: absolute;
		color: white;
		text-shadow:0 0 60px #0c0002, 0 0 100px #310505;
		font-size: 33px;
	}
	nav .btn .menu{
		height: 30px;
		border: 3px solid white;
		border-radius: 20px;
		visibility: show;
		padding-right: 20px;
		margin-right: 20px;
		float: right;
		padding-top: 3px;
		margin-top: 3px;
		font-size: 25px;

		padding-bottom: 1px;
		margin-bottom: 1px
		transition: color 2s;
	}nav .btn .menu:hover{
		border-radius: 20px;
		height: 30px;
		text-align: center;
		border: 3px solid black;
		visibility: show;
		padding-right: 20px;
		margin-right: 20px;
		float: right;
		padding-top: 3px;
		margin-top: 3px;
		padding-bottom: 1px;
		margin-bottom: 1px
		font-size: 25px;
		transition: border 1s;
		background: white;
		text-shadow:0 0 3px #0c0002, 0 0 6px #310505;

	}

	nav .btn .menu a{
		color: white;
		text-decoration-line: none;
		padding-left: 25px;
	}/*
	nav .btn .menu a:hover{
		color: black;
		text-decoration-line: none;
		padding-left: 6px;
	}*/
	nav{
		width: auto;
		height: 45px;
		background: #000000ab;
		border: 1px solid black;
	}
	
	nav ul{
		width: 250px;
		margin-top: 46px;
		padding-top: 46px;
		margin-right: 0px;
		padding-right: 0px;
		position: absolute;
		height: 300px;
		right: 0px;
		background: #545454bf;
		display: none;
	}
	nav ul li{
		text-align: center;
		display: block;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 0px;
		margin-bottom: 6px;
		padding-top: 6px;
		margin-top: 6px;
	}
	nav ul li a{
		font-family: monospace;
		color: white;
		text-decoration: none;
		font-size: 23px;
		text-shadow:0 0 3px #0c0002, 0 0 6px #310505;
	}
	nav ul li a:hover{
		color:gray;
	}

		.search-box{
			position: absolute;
			top: 12%;
			left: 20%;
			transform: translate(-50%, -50%);
			background: #2f3640;
			height: 27px;
			border-radius: 40px;
			padding: 10px;
		}
		.search-box:hover > .search-txt{
			width: 140px;
			padding: 0 6px;
		}
		.search-btn:hover > .search-txt{
			background: white;
		}
		.search-btn{
			color: #e84118;
			float: right;
			width: 40px;
			height: 27px;
			border-radius: 50%;
			background: #2f3640;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.search-txt{
			border: none;
			background: none;
			outline: none;
			float: left;
			padding: 0;
			color: white;
			font-size: 16px;
			transition: 0.4s;
			line-height: 27px;
			width: 0px;
		}
/*
	.maincss{
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 212px auto 200px;
	}*/
	.maindiv1{
		height: 500px;
		width: 212px;
		position: absolute;
		top: 107px;
		display: none;
		box-shadow: 0px 2px  0px red;
		border-radius: 20px;
		/*background: #00000030;*/
	}
	.maindivbtn1{
		margin: 0px;
		padding: 0px;
		text-align: center;
		justify-content: center;
		background: none;
	}

	.maindivbtn1 button{
		font-family: cursive; /*//fantasy/monospace/inherit/ */
		color: white;
		text-decoration: none;
		word-spacing: normal;
		font-size: 18px;
		text-shadow:0 0 1px #1d4dff, 0 0 3px #3c20d6;
		text-align: center;
		border: none;
		width: 200px;
		height: 30px;
	}
		.maindivbtn1 button:hover{
		font-family: cursive; /*//fantasy/monospace/inherit/ */
		color: white;
		text-decoration: none;
		word-spacing: normal;
		font-size: 18px;
		text-shadow:0 0 1px #1d4dff, 0 0 3px #3c20d6;
		text-align: center;
		border: none;
		border: 3px solid #32e17c;
		width: 200px;
		border-radius: 30px;
		height: 30px;
	}
	.maindiv2{
		background: #17a8d408;
	}

	.maindiv3{

	}


	
	.container1{
		padding: 10px;
	}
	.container2{
		padding: 30px;
	}
	.footerClass{
		padding-top: 20px;
		padding-bottom: 20px;
		background-image: linear-gradient(to left,#F650FE, #607BF5);
	}
	.footerClass h1{
		text-shadow: 2px 2px 2px blue;
		text-align: center;
		color: white;
		padding-top: 18px;
		text-shadow: 1px solid black;
	}
	.flex_css{

		text-align: center;


	}.flex_css h2{
		text-decoration: 2px 2px 2px green;
		color:white;
	}.flex_css a{
		color: white;
		text-decoration-line: none;
	}	
}
/*/////////////////////////////////////520px/////650px/////////////////////////////////*/
@media(min-width: 520px) and (max-width: 650px){
	*{
		margin: 0px;
		padding: 0px;
	}
	header{
		width: 100%;
		height: 60px;
	}
	header .text1{
		font-family: sans-serif, "helvetica Neue", "Lucida Grande", Arial;
		font-stretch: extra-expanded;
		word-spacing: 30px;
		word-wrap: break-word;
		text-indent: 50px;
		font-size: 35px;
		background: white;
		color: white;
		text-shadow:0 0 5px #0c0002, 0 0 9px #310505;
		position: absolute;
		padding-top: 6px;
	}
	
	nav .btn .fa-bars{
		visibility: show;
		padding-left: 30px;
		padding-top: 66px;
		top:0px;
		position: absolute;
		color: white;
		text-shadow:0 0 3px #0c0002, 0 0 6px #310505;
		font-size: 30px;
		transition: font-size 1s;
	}	nav .btn .fa-bars:hover{
		visibility: show;
		padding-left: 30px;
		padding-top: 66px;
		top:0px;
		position: absolute;
		color: white;
		text-shadow:0 0 60px #0c0002, 0 0 100px #310505;
		font-size: 33px;
	}
	nav .btn .menu{
		height: 30px;
		border: 3px solid white;
		border-radius: 20px;
		visibility: show;
		padding-right: 20px;
		margin-right: 20px;
		float: right;
		padding-top: 3px;
		margin-top: 3px;
		font-size: 25px;

		padding-bottom: 1px;
		margin-bottom: 1px
		transition: color 2s;
	}nav .btn .menu:hover{
		border-radius: 20px;
		height: 30px;
		text-align: center;
		border: 3px solid black;
		visibility: show;
		padding-right: 20px;
		margin-right: 20px;
		float: right;
		padding-top: 3px;
		margin-top: 3px;
		padding-bottom: 1px;
		margin-bottom: 1px
		font-size: 25px;
		transition: border 1s;
		background: white;
		text-shadow:0 0 3px #0c0002, 0 0 6px #310505;

	}
	nav .btn .menu a{
		color: white;
		text-decoration-line: none;
		padding-left: 25px;
	}/*
	nav .btn .menu a:hover{
		color: black;
		text-decoration-line: none;
		padding-left: 6px;
	}*/
	nav{
		width: auto;
		height: 45px;
		background: #000000ab;
		border: 1px solid black;
	}
	nav ul{
		width: 250px;
		margin-top: 46px;
		padding-top: 46px;
		margin-right: 0px;
		padding-right: 0px;
		position: absolute;
		height: 300px;
		right: 0px;
		background: #545454bf;
		display: none;
	}
	nav ul li{
		text-align: center;
		display: block;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 0px;
		margin-bottom: 6px;
		padding-top: 6px;
		margin-top: 6px;
	}
	nav ul li a{
		font-family: monospace;
		color: white;
		text-decoration: none;
		font-size: 23px;
		text-shadow:0 0 3px #0c0002, 0 0 6px #310505;
	}
	nav ul li a:hover{
		color:gray;
	}

		.search-box{
			position: absolute;
			top: 12%;
			left: 25%;
			transform: translate(-50%, -50%);
			background: #2f3640;
			height: 27px;
			border-radius: 40px;
			padding: 10px;
		}
		.search-box:hover > .search-txt{
			width: 100px;
			padding: 0 6px;
		}
		.search-btn:hover > .search-txt{
			background: white;
		}
		.search-btn{
			color: #e84118;
			float: right;
			width: 40px;
			height: 27px;
			border-radius: 50%;
			background: #2f3640;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.search-txt{
			border: none;
			background: none;
			outline: none;
			float: left;
			padding: 0;
			color: white;
			font-size: 16px;
			transition: 0.4s;
			line-height: 27px;
			width: 0px;
		}
/*
	.maincss{
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 212px auto 200px;
	}*/
	.maindiv1{
		width: 212px;
		height: 500px;
		position: absolute;
		top: 107px;
		display: none;

		box-shadow: 0px 2px  0px red;
		border-radius: 20px;
		/*background: #00000030;*/
	}
	.maindivbtn1{
		margin: 0px;
		padding: 0px;
		text-align: center;
		justify-content: center;
		background: none;
	}

	.maindivbtn1 button{
		font-family: cursive; /*//fantasy/monospace/inherit/ */
		color: white;
		text-decoration: none;
		word-spacing: normal;
		font-size: 18px;
		text-shadow:0 0 1px #1d4dff, 0 0 3px #3c20d6;
		text-align: center;
		border: none;
		width: 200px;
		height: 30px;
	}
		.maindivbtn1 button:hover{
		font-family: cursive; /*//fantasy/monospace/inherit/ */
		color: white;
		text-decoration: none;
		word-spacing: normal;
		font-size: 18px;
		text-shadow:0 0 1px #1d4dff, 0 0 3px #3c20d6;
		text-align: center;
		border: none;
		border: 3px solid #F650FE;
		width: 200px;
		border-radius: 30px;
		height: 30px;
	}
	.maindiv2{
		background: #17a8d408;
	}

	.maindiv3{

	}

	.container1{
		padding: 10px;
	}
	.container2{
		padding: 30px;
	}
	.footerClass{
		padding-top: 20px;
		padding-bottom: 20px;
		background-image: linear-gradient(to left,#F650FE, #607BF5);
	}
	.footerClass h1{
		text-shadow: 2px 2px 2px blue;
		text-align: center;
		color: white;
		padding-top: 18px;
		text-shadow: 1px solid black;
	}
	.flex_css{

		text-align: center;


	}.flex_css h2{
		text-decoration: 2px 2px 2px green;
		color:white;
	}.flex_css a{
		color: white;
		text-decoration-line: none;
	}	
	
}

/*/////////////////////////////////////320/////520px/////////////////////////////////*/
@media(min-width: 320px) and (max-width: 520px){
	*{
		margin: 0px;
		padding: 0px;
	}
	header{
		width: 100%;
		height: 50px;
	}
	header .text1{
		font-size: 25px;
		font-family: sans-serif, "helvetica Neue", "Lucida Grande", Arial;
		word-wrap: break-word;
		text-indent: 150px;
		background: white;
		color: white;
		text-shadow:0 0 5px #0c0002, 0 0 9px #310505;
		position: absolute;
		padding-top: 6px;
	}
	nav .btn .fa-bars{
		visibility: show;
		padding-left: 30px;
		padding-top: 10px;
		position: absolute;
		color: white;
		text-shadow:0 0 3px #0c0002, 0 0 6px #310505;
		font-size: 30px;
		transition: font-size 1s;
	}	nav .btn .fa-bars:hover{
		visibility: show;
		padding-left: 30px;
		padding-top: 10px;
		position: absolute;
		color: white;
		text-shadow:0 0 60px #0c0002, 0 0 100px #310505;
		font-size: 33px;
	}
	nav .btn .menu{
		height: 30px;
		border: 3px solid white;
		border-radius: 20px;
		visibility: show;
		padding-right: 20px;
		margin-right: 20px;
		float: right;
		padding-top: 3px;
		margin-top: 3px;
		font-size: 25px;

		padding-bottom: 1px;
		margin-bottom: 1px
		transition: color 2s;
	}nav .btn .menu:hover{
		border-radius: 20px;
		height: 30px;
		text-align: center;
		border: 3px solid black;
		visibility: show;
		padding-right: 20px;
		margin-right: 20px;
		float: right;
		padding-top: 3px;
		margin-top: 3px;
		padding-bottom: 1px;
		margin-bottom: 1px
		font-size: 25px;
		transition: border 1s;
		background: white;
		text-shadow:0 0 3px #0c0002, 0 0 6px #310505;

	}

	nav .btn .menu a{
		color: white;
		text-decoration-line: none;
		padding-left: 25px;
	}/*
	nav .btn .menu a:hover{
		color: black;
		text-decoration-line: none;
		padding-left: 6px;
	}*/
	nav{
		width: 100%;
		height: 45px;
		background: #000000ab;
		border: auto solid black;
	}
	nav ul{
		width: 100%;
		margin-top: 45px;
		padding-top: 45px;
		margin-right: 0px;
		padding-right: 0px;
		position: absolute;
		height: 300px;
		right: 0px;
		background: #545454bf;
		display: none;
	}
	nav ul li{
		text-align: center;
		display: block;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 0px;
		margin-bottom: 6px;
		padding-top: 6px;
		margin-top: 6px;
	}
	nav ul li a{
		font-family: monospace;
		color: white;
		text-decoration: none;
		font-size: 23px;
		text-shadow:0 0 3px #0c0002, 0 0 6px #310505;
	}
	nav ul li a:hover{
		color:gray;
	}

		.search-box{
			position: absolute;
			top: 23px;
			left: 23%;
			transform: translate(-50%, -50%);
			background: #2f3640;
			height: 24px;
			border-radius: 40px;
			padding: 10px;
		}
		.search-box:hover > .search-txt{
			width: 70px;
			padding: 0 6px;
		}
		.search-btn:hover > .search-txt{
			background: white;
		}
		.search-btn{
			color: #e84118;
			float: right;
			width: 40px;
			height: 27px;
			border-radius: 50%;
			background: #2f3640;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.search-txt{
			border: none;
			background: none;
			outline: none;
			float: left;
			padding: 0;
			color: white;
			font-size: 16px;
			transition: 0.4s;
			line-height: 27px;
			width: 0px;
		}
/*
	.maincss{
		display: grid;
		grid-template-rows: auto;647
		grid-template-columns: 212px auto 200px;
	}
*/	.maindiv1{

	width: 212px;
		height: 500px;
		position: absolute;
		top: 95px;
		display: none;
		border-radius: 15px;
		/*background: #00000030;*/
	}
	.maindivbtn1{
		margin: 0px;
		padding: 0px;
		text-align: center;
		justify-content: center;
		background: none;
	}

	.maindivbtn1 button{
		font-family: cursive; /*//fantasy/monospace/inherit/ */
		color: white;
		text-decoration: none;
		word-spacing: normal;
		font-size: 18px;
		text-shadow:0 0 1px #1d4dff, 0 0 3px #3c20d6;
		text-align: center;
		border: none;
		width: 200px;
		height: 30px;
	}
		.maindivbtn1 button:hover{
		font-family: cursive; /*//fantasy/monospace/inherit/ */
		color: white;
		text-decoration: none;
		word-spacing: normal;
		font-size: 18px;
		text-shadow:0 0 1px #1d4dff, 0 0 3px #3c20d6;
		text-align: center;
		border: none;
		border: 3px solid #32e17c;
		width: 200px;
		border-radius: 30px;
		height: 30px;
	}
	.maindiv2{
		background: #17a8d408;
	}

	.maindiv3{}
	
	.container1{
		padding: 10px;
	}
	.container2{
		padding: 30px;
	}
	.footerClass{
		padding-top: 20px;
		padding-bottom: 20px;
		background-image: linear-gradient(to left,#F650FE, #607BF5);
	}
	.footerClass h1{
		text-shadow: 2px 2px 2px blue;
		text-align: center;
		color: white;
		padding-top: 18px;
		text-shadow: 1px solid black;
	}
	.flex_css{
		padding-top: 20px;

		text-align: center;


	}.flex_css h2{
		text-decoration: 2px 2px 2px green;
		color:white;
	}.flex_css a{
		color: white;
		text-decoration-line: none;
	}	
}