@media(min-width: 100px) and (max-width: 2000px){

	.addtop1{
		width: auto;
		height: 45px;
		box-shadow: 2px 2px 2px 2px gray;
		padding: 20px;
		margin: 20px;
		
	}.mainwindow{
		width: auto;
		height: auto;
		padding: 0px;
		margin: 20px;
		box-shadow: 2px 2px 2px 2px gray;
		
	}
	.mainforcode{
		margin: 20px;
		padding: 0px;
		box-shadow: 2px 2px 2px 2px gray;
		height: auto;
		width: auto;
	}
	.btn1{
		height: 25px;
		width: 45px;
		float: right;
		padding: 5px;
		margin: 0px;
		box-shadow: 2px 2px 2px 2px gray;
	}.btn1:hover{
		height: 25px;
		width: 45px;
		float: right;
		padding: 5px;
		margin: 0px;
		box-shadow: 2px 2px 2px 2px #270529;
	}
	.textp1{
		box-shadow: 2px 2px 2px #270529;
		font-family: serif;
		padding: 10px;
		margin: 40px;
		font-size: 20px;
		color: #270529;
		
	}.texth1{
		color: #270529;
		font-family: serif;
		font-size: 30px;
		padding: 10px;
		
	}
	.usecontentin{
		margin: 20px;
		padding: 0px;
	}.usecontentout{
		margin: 0px;
		padding: 20px;
	}
	.a1{
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		padding-top: 0px;
		padding-bottom: 0px;
		box-shadow: 2px 2px 2px 2px pink;
		border: 2px solid white;
		width: auto;
		height: auto;

	}
	.a2{/*
		margin-top: 0px;
		margin-right: 0px;
		margin-left: 0px;
		padding-top: 0px;
		padding-right: 0px;
		padding-left: 0px;
		padding-bottom: 0px;
		margin-bottom: 0px;*/
		margin: 0px;
		padding: 0px;
		height: 35px;
		width: auto;
		box-shadow: 2px 2px 2px 2px pink;
	}
	.btna1{
		float: right;
		padding: 0px;
		margin: 0px;
		height: 35px;
		width: 50px;
	}
	.a3{
		margin: 0px;
		padding: 10px;
	}
	.textcodea4 p{
		font-size: 25px;
		/*color: #270529;*/

		padding: 0px;
		margin: 0px;
	}
	.haa{
		font-size: 20px;
		color: #270529;
	}
	.ha1{
		font-size: 20px;
		color: gray;
	}.ha2{
		font-size: 20px;
		color: red;
	}
	.iai{
		text-indent: 20px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

}

